@use '@/shared/assets/styles/variables.module.scss' as *;

.title {
    margin-bottom: 40px;
    @media (max-width: #{$md+px}) {
        margin-bottom: 38px;
    }
}

.titleText {
    font-weight: 700;
    line-height: 0.8;
    text-align: left;
    @media (max-width: #{$md+px}) {
        line-height: 1.2;
    }
}

.sliderContainer {
    padding-right: 10px;
    @media (max-width: #{$md+px}) {
        padding-right: 0;
        padding-left: 14px;
    }
}
