.root {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: var(--font-family-base);

    &.open .arrow {
        transform: scale(0.7) rotate(180deg);
    }
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px 60px;
    background: var(--color-primary-white);
    border: 2px solid rgba(14, 63, 83, 0.08);
    border-radius: 12px;
    box-shadow:
        2px 3px 2px 0px rgba(9, 25, 20, 0.2),
        -2px -3px 2px 0px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover:not(:disabled) {
        background: var(--color-primary-blue);
        border-color: var(--color-text-blue);
        color: var(--color-primary-white);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

@media (max-width: 768px) {
    .button {
        padding: 10px 26px;
    }
}

.label {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .button:hover & {
        color: var(--color-primary-white);
    }
}

.arrow {
    transition: transform 0.2s ease;
    color: var(--color-text-dark);
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    transform: scale(0.7);

    .button:hover & {
        color: var(--color-primary-white);
    }
}

.list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);
    z-index: 20;
    background: var(--color-primary-white);
    border-radius: 12px;
    padding: 12px;
    box-shadow:
        1px 2px 3.9px 0px rgba(9, 25, 20, 0.28),
        -2px -3px 4px 0px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(14, 63, 83, 0.1);
}

.option {
    list-style: none;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.option:hover {
    background: var(--color-primary-blue);
    .label {
        color: var(--color-primary-white);
    }
}
