.root {
    position: relative;
}

.buttonsContainer {
    display: flex;
    gap: 17px;

    @media (max-width: 768px) {
        justify-content: space-between;
    }
}

.trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 290px;
    height: 90px;

    @media (max-width: 768px) {
        width: 156px;
        height: 36px;
    }
}

.panel {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    z-index: 1;
    padding: 19px 25px;
    background: var(--color-primary-white);
}

.calendar {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

@media (max-width: 768px) {
    .panel {
        width: 100%;
        max-width: 351px;
        padding: 15px 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
