@use "../../../shared/assets/styles/variables.module" as *;

.form {
  margin-top: 50px;

  &__body {
    display: flex;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.formBody {
  &__item {
    flex: 1 1 auto;

    input,
    button {
      height: 100%;
      min-width: 0;
    }
  }
}