@use '../../../assets/styles/mixins' as *;
@use '../../../assets//styles//variables.module' as *;

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    border-radius: 24px;
    background: var(--color-primary-white);
}

.calendar {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;

    @include magicAdapt('gap', 30, 15, 1600, 320);
}

.direction {
    display: flex;
    gap: 60px;
    flex-direction: row;
}

.monthWrapper {
    display: flex;
    flex-direction: column;
}

.monthHeader {
    display: flex;
    align-items: center;
    padding: 5px;
}

.monthTitle {
    color: var(--color-text-blue);
    text-transform: lowercase;
    padding-bottom: 5px;
    font-weight: 100 !important;
}

.button {
    padding: 10px;
    color: var(--color-text-blue);
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }

    &Prev {
        transform: rotate(90deg);
    }

    &Next {
        transform: rotate(-90deg);
    }
}

@media (max-width: #{$md+px}) {
    .root {
        padding: 20px 58px;
    }

    .direction {
        flex-direction: column !important;
    }

    .icon {
        transform: scale(0.7);
    }

    .calendar {
        gap: 16px;
    }

    .button {
        position: absolute;
        right: -70px;
        padding: 34px;

        &Prev {
            top: 3%;
            transform: rotate(180deg);
        }

        &Next {
            bottom: 10%;
            transform: rotate(0deg);
        }
    }
}

@media (max-width: #{$sm+px}) {
    .root {
        width: 100%;
    }
}
