.container {
    // margin: 0 auto;
    // padding: 24px 16px;
}

/* Сетка с фиксированными размерами карточек */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 666px);
    grid-auto-rows: 90px;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 351px;
        grid-auto-rows: 60px;
        gap: 10px;
    }
}

.linkReset {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.button {
    width: 100%;
    height: 100%;
}

.btnText {
    display: inline-block;
    width: 100%;
}
