.root {
  padding: 5px 30px;
  min-height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;

  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.25), 1px 2px 3.9px rgba(9, 25, 20, 0.28), inset 2px 1px 4px rgba(14, 47, 32, 0.23), inset -2px -3px 4px rgba(255, 255, 255, 0.5);

  transition: .3s ease 0s;
  transition-property: color, background-color;

  cursor: pointer;
}

.cyan {
  background-color: var(--color-primary-blue);
  color: white;

  &:hover {
    background-color: var(--color-primary-white);
    color: var(--color-text-dark);
  }
}

.white {
  background-color: var(--color-primary-white);
  color: var(--color-text-dark);

  &:hover {
    background-color: var(--color-primary-blue);
    color: white;
  }
}

.glass {
  border-color: transparent;

  /* кнопки */
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.25), 1px 2px 3.9px rgba(9, 25, 20, 0.28), inset 2px 1px 4px rgba(14, 47, 32, 0.23), inset -2px -3px 4px rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: var(--color-primary-white);
    color: var(--color-text-dark);
  }
}

.fullWidth {
  width: 100%;
}