.root {
    margin: 0;
    color: var(--color-text-dark);
}

.h1 {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
}

.h2 {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
}

.h3 {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.h4 {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.h5 {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.p,
.span,
.a {
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
}

.align_left {
    text-align: left;
}
.align_right {
    text-align: right;
}
.align_center {
    text-align: center;
}
.align_justify {
    text-align: justify;
}
.align_inherit {
    text-align: inherit;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .h1 {
        font-size: 32px;
        line-height: 100%;
    }
    .h2 {
        font-size: 18px;
        line-height: 100%;
    }
    .h3 {
        font-size: 12px;
        line-height: 100%;
    }
    .h4 {
        font-size: 24px;
        line-height: 100%;
    }
}
