.root {
  min-height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 0 40px;

  .slide {
    display: flex;
    justify-content: center;

    &__container {
      display: inline-flex;
      align-items: flex-end;
    }

    &__price {
      margin-right: 10px;
    }

    &__website {}
  }
}