.box {
    box-sizing: border-box;
    border: 1px solid #d1d5db;
    border-radius: 14px;
    box-shadow: 1px 2px 3.9px 0px rgba(9, 25, 20, 0.28);
    width: fit-content;
    min-width: min-content;

    padding: var(--padding-top, 16px) var(--padding-right, 8px) var(--padding-bottom, 16px) var(--padding-left, 8px);
    display: var(--display, block);
    flex-direction: var(--flex-direction, initial);
}