@use '../../../shared/assets/styles/variables.module' as *;
@use '../../../shared/assets/styles/mixins' as *;

.root {
    position: relative;
    display: flex;
    gap: inherit;
}

.trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    height: 100%;
    flex: 1 1 auto;
}

.panelInner {
    width: 100%;
    padding: 0;
}

// .panel {
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     transform: translateX(-50%);
//     border-radius: 24px;
//     z-index: 10;
//     margin-top: 12px;
//     max-width: min(100vw - 16px, 920px);
//     padding-bottom: 8px;
// }

// .panel--right {
//     left: auto;
//     right: 0;
//     transform: none;
// }
