.root {
    position: relative;
    display: inline-block;
    width: 429px;
    min-width: 100%;
    font-family: var(--font-family-base);

    &.open .arrow {
        transform: rotate(180deg);
    }
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 60px 12px 58px;
    height: 54px;

    background: var(--color-primary-white);
    border: 2px solid rgba(14, 63, 83, 0.08);
    border-radius: 12px;
    box-shadow:
        2px 3px 2px 0px rgba(9, 25, 20, 0.2),
        -2px -3px 2px 0px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;

    min-width: 0;

    .root[style*='height'] & {
        height: 100%;
    }

    &:hover:not(:disabled) {
        background: var(--color-primary-blue);
        border-color: var(--color-text-blue);
        color: var(--color-primary-white);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

@media (max-width: 768px) {
    .root {
        width: 335px;
    }

    .button {
        height: 42.2px;
        padding: 8px 26px 8px 22px;
    }
}

.label {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;

    .button:hover & {
        color: var(--color-primary-white);
    }
}

.arrow {
    transition: transform 0.2s ease;
    opacity: 0.9;
    color: var(--color-text-blue);
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    // padding: 10px;

    .button:hover & {
        color: var(--color-primary-white);
    }
}

.list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);
    z-index: 20;

    background: var(--color-primary-white);
    border-radius: 12px;
    padding: 12px;
    box-shadow:
        1px 2px 3.9px 0px rgba(9, 25, 20, 0.28),
        -2px -3px 4px 0px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(14, 63, 83, 0.1);
}

.option {
    list-style: none;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.option:hover {
    background: rgba(15, 204, 211, 0.1);
}

.optionSelected {
    background: rgba(15, 204, 211, 0.05);
    font-weight: 600;
}
