.root {
  .header:not(:first-child) {
    margin-top: 40px;
  }
}

/* открой для себя мир и путешествуй легко */
.title.title {
  font-family: var(--font-family-heading);
  font-weight: 700;
  margin-top: 98px;

  line-height: 81px;
}

.buttonsBox {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 114px;
  flex-wrap: wrap;

  button {
    flex: 1 1 auto;
    white-space: nowrap;

    &:first-child {
      padding-left: 60px;
      padding-right: 60px;
    }

    &:nth-child(4) {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}