.root {
    padding: 5px 25px;
    min-height: 33px;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 18px;
    font-family: var(--font-family-base);

    box-shadow:
        -2px -2px 4px rgba(255, 255, 255, 0.25),
        1px 2px 3.9px rgba(9, 25, 20, 0.28),
        inset 2px 1px 4px rgba(14, 47, 32, 0.23),
        inset -2px -3px 4px rgba(255, 255, 255, 0.5);

    transition: 0.3s ease 0s;
    transition-property: color, background-color;

    cursor: pointer;
}

//========================= sizes =========================
.small {
    padding: 5px 10px;
}

.medium {
    padding: 14px 25px;
}

.big {
    padding: 13px 25px;
    font-size: 36px;
}

//========================= sizes =========================

//========================= variants =========================
.cyan {
    background-color: var(--color-primary-blue);

    &:hover {
        background-color: var(--color-primary-white);
        color: var(--color-text-dark);
    }
}

.white {
    background-color: var(--color-primary-white);
    color: var(--color-text-dark);

    &:hover {
        background-color: var(--color-primary-blue);
        color: white;
    }
}

.glass {
    &:hover {
        background-color: var(--color-primary-white);
        color: var(--color-text-dark);
    }
}

//========================= variants =========================

.fullWidth {
    width: 100%;
}
