@use '../../../shared/assets/styles/index' as *;

.root {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 0px;
    border-radius: 8px;
}
.titleContainer {
    padding-left: 15px;
    padding-right: 15px;
    .title {
        margin-bottom: 34px;
    }
    @media (max-width: #{$md+px}) {
        padding-left: 2px;
        padding-right: 28px;
        .title {
            margin-bottom: 38px;
        }
    }
}
.ranges {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    gap: 8px;
    @media (max-width: #{$md+px}) {
        gap: 6px;
    }
}

.rangesContainer {
    display: flex;
}

.select {
    @include magicAdapt('width', 431, 335);
}

@media (max-width: #{$md+px}) {
    .sliderContainer {
        padding-right: 13px;
    }
    .selectContainer {
        padding: 0px 4px;
    }
    .root {
        gap: 20px;
    }
    .rangesContainer {
        padding-top: 10px;
    }
}
