.root {
  position: relative;
  min-width: 0;
}

.slide {
  width: 500px;
  height: 500px;

  img {
    right: unset;
    bottom: unset;
    object-fit: contain;
  }
}

.navigationBlock {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  &__btn {}

  &__btn {
    &_next {}

    &_prev {}
  }
}