$font-family-base: "Jost", sans-serif;
$font-family-heading: "Actay Wide", "Actay", sans-serif;
/* "основной цвет для фона" */
$color-primary-blue: #0fccd3;
/* "цвет для фона и текста" */
$color-primary-white: #e8f8f8;
/* "основной цвет для заголовков" */
$color-text-blue: #0eb3b3;
/* "основной цвет для обычного текста" */
$color-text-dark: #0e3f53;
/* "цвет для выбранного элемента" */
$color-text-green: #0eb3b3;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-family-base: #{$font-family-base};
  --font-family-heading: #{$font-family-heading};
  --color-primary-blue: #{$color-primary-blue};
  --color-primary-white: #{$color-primary-white};
  --color-text-blue: #{$color-text-blue};
  --color-text-dark: #{$color-text-dark};
  --color-text-green: #{$color-text-green};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Доступ к css переменным из js */
:export {
  fontFamilyBase: #{$font-family-base};
  fontFamilyHeading: #{$font-family-heading};
  colorPrimaryBlue: #{$color-primary-blue};
  colorPrimaryWhite: #{$color-primary-white};
  colorTextBlue: #{$color-text-blue};
  colorTextDark: #{$color-text-dark};
}
