@use '../../../shared/assets/styles/index' as *;
/* Базовые стили для MainPage */
.mainPage {
    width: 100%;
    background-color: var(--color-primary-white);
}

.heroContent {
    text-align: center;
    z-index: 2;
    max-width: 800px;
    padding: 0 20px;
}

.title {
    margin-bottom: 40px;
}

.bookingButtons {
    padding-top: 52px;
    padding-bottom: 52px;
    @media (max-width: #{$md+px}) {
        background: var(--color-primary-blue);
    }
}

.headerContent {
    padding-top: 270px;
    padding-bottom: 100px;
    position: relative;
    z-index: 0;

    &__bg {
        position: absolute;
        inset: 0;
        z-index: -1;

        // Синий фон на бекграунде перед изображением
        &::after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            z-index: 1;
            background: rgba(45, 193, 219, 0.6);
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;

        // При изменении ширины, положение изображения остается 80% по гроизонтали и по вертиали - в центре.
        // Таким образом мы всегда видим нужную часть изображения с домом примерно как на макете
        object-position: 80% center;
    }
}
