@use '../../../shared/assets/styles/index' as *;

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 40px;
}

.buttons {
    max-width: 666px;
    width: calc(50% - 5px);
    @include magicAdapt('height', 90, 36, 1600);
}

@media (max-width: #{$md+px}) {
    .buttons {
        max-width: unset;
        width: 100%;
    }
}