@use '../../../shared/assets/styles/index' as *;

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include magicAdapt(row-gap, 33, 11, 1920, 430);
    column-gap: 0px;
}

.buttons {
    max-width: 666px;
    width: calc(50% - 5px);
    @include magicAdapt('height', 90, 60, 1600);
}

@media (max-width: 768px) {
    .buttons {
        max-width: unset;
        width: 100%;
    }
}
