@use '../../../shared/assets/styles/index' as *;

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.buttons {
    max-width: 666px;
    width: calc(50% - 5px);
    @include magicAdapt('height', 90, 36, 1600);
    border-radius: 24px;

    // Крупные телефоны и протативные планшеты //
    @media (max-width: #{$md+px}) {
        & {
            border-radius: 12px;
        }
    }
}

@media (max-width: 768px) {
    .buttons {
        max-width: unset;
        width: 100%;
    }
}